.DS_Store
.idea
.mvn
.terraform
.vscode
terraform.tfstate.backup
.terraform.lock.hcl
target
out
source/clicklogger/src/main/.DS_Store
source/clicklogger/src/main/java/.DS_Store
source/clicklogger/src/main/java/com/.DS_Store
source/clicklogger/src/main/java/com/clicklogs/.DS_Store
terraform/workspaces/us-east-1/terraform.tfstate
terraform/workspaces/us-east-1/.terraform/*
terraform/workspaces/us-east-1/.terraform*
source/clicklogger/src/test/.DS_Store
source/clicklogger/src/test/java/.DS_Store
source/clicklogger/src/test/java/com/.DS_Store
assets/.$emr-serverless-click-logs-from-web-application.drawio.bkp
assets/.$emr-serverless-click-logs-from-web-application.drawio.dtmp
